/*
Barvy:
Pozadí stránky: #FAFAFA;
Nadpisy h1, h2: #000000;
Běžný text, text uvniř rámečku s ikonou: #8B8B8B;
Barva tlačítek:  Primární modrá #407BFF; Šedá #8B8B8B;
Pozadí dlaždic: #FFFFFF;
Box-shadow: #407BFF1F;

Breakpointy:
Mobil   0 - 639px
Tablet  640px - 1099px 
PC      1100px a víc
*/

/*Mobil   0 - 639px*/

html {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}


